<?xml version="1.0" encoding="UTF-8"?>
<!--这里的status属性是log4j2加载时详细信息的level级别，与自定义的不同-->
<Configuration status="warn" monitorInterval="300">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d [%t] %-5level: %msg%n%throwable}{FATAL=Bright red, ERROR=red, WARN=Bright Yellow, INFO=Green, DEBUG=Cyan, TRACE=Black}" />
        </Console>

        <File name="fileLog" fileName="D://logs/file.log">
            <PatternLayout pattern="%highlight{%d [%t] %-5level: %msg%n%throwable}{FATAL=Bright red, ERROR=red, WARN=Bright Yellow, INFO=Green, DEBUG=Cyan, TRACE=Black}" />
        </File>
    </Appenders>
    <Loggers>
        <Logger name="console_log" level="trace" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Logger name="file_log" level="trace" additivity="false">
            <AppenderRef ref="fileLog" />
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>